// SPDX-License-Identifier: GPL-2.0-only
/*
 * Display nodes for slider-related boards.
 *
 * Copyright 2022 Google LLC
 *
 */

#include <dt-bindings/gpio/gpio.h>

&dsim_modes {
	dsim-modes {
		1080x2400 {
			mode-name = "1080x2400";
			pmsk = <
				0x2 0xB3 0x2 0x5CAB /* p m s k */
				>;
			hs-clk = <1102>;
			esc-clk = <20>;
		};
	};
};

&drmdsim0 {
	#address-cells = <1>;
	#size-cells = <0>;

	google_ak3a: panel@0 {
		compatible = "google,ak3a";
		label = "google-ak3a";
		touch = <&spitouch>;
		channel = <0>;

		/* reset, power */
		reset-gpios = <&gpa6 0 GPIO_ACTIVE_HIGH>;
		vci-supply = <&m_ldo14_reg>;
		vddi-supply = <&s_bucka_reg>;
	};

	panel@1 {
		compatible = "samsung,emul";
		label = "samsung-emul";
		channel = <0>;

		/* reset, power */
		reset-gpios = <&gpa6 0 GPIO_ACTIVE_HIGH>;
	};
};

&drmdsim1 {
	status = "disabled";
};

&m_ldo14_reg {
	/delete-property/ regulator-always-on;
};
