// SPDX-License-Identifier: GPL-2.0-only
/*
 * Battery device tree entries specific to comet
 *
 * Copyright 2023 Google LLC
 *
 */

#include "google-dts-base/zuma-dual-battery-common.dtsi"

/ {
	fragment@charging {
		target-path = "/";
		__overlay__ {

			google_bms {
				nvmem-names = "3-00500";
				google,bee-name = "3-00500";
			};

		};
	};
};

&max77779_fg {
	max77779,dual-battery = "maxfg_base";
	maxim,fg-data {
		#include "zuma-comet-battery-data.dtsi"
	};
};
